.logo{
    width: 100px !important;
}
.navbar{
    background-color: rgb(237, 244, 250) !important;
    max-height: 120px;
}
.submenu{
    background-color: #fff !important
}

.signin{
    color: #fff;
}
