.reg-side-bar{
    background-color: #00B833;
    
    
  }
  
  .mixnetlogo{
    width: 200px;
    margin-left: 250px;
    margin-top: 160px;
    
  }  
  
  .logoName{
    font-size: 110px;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
  
  }
    
    .form-con {
      
      margin-top: 22px;
      background-color: #D9D9D9;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      padding-right: 30px;
      border-radius: 15px;
      width: 500px;
      margin-bottom: 60px;
      
      
      
    }
    
    .registerTopic-con{
      font-size: 22px;
      font-weight: 700;
      
    }
  
    .subTopic-con{
      font-size: 18px;
      font-weight: 500;
    }
  
  
    .hrLine-con{
      margin: 5px;
      margin-bottom: 20px;
    }
  
    .form-group-con {
      margin-bottom: 20px;
      display: flex;
    }
    
    .label-con {
      display: block;
      font-size: 14px;
      font-weight: bold;
      margin-top: 6px;
      margin-bottom: 5px;
      margin-right: 15px;
      width: 180px;
    }
    
    .input-con {
      width: 100%;
      padding: 10px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      font-size: 14px;
    }
    
    .button-group-con {
      text-align: center;
    }
    
    .Regbutton-con {
      background-color: #00B833;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      width: 190px;
      height: auto;
      margin-left: 250px;
    }
    
    .Regbutton-con:hover {
      background-color: #08a836;
    }

    /* Side Bar css */
.w3-sidebar-con {
  width: 25%;
  height: 100%;
  position: fixed;
  margin-top: 110px;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  padding-top: 50px;
}

.sideBar-con {
  padding: 16px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  
}

.sideBar-con:hover {
  background-color: #ddd;
}

/* profile view css */
.content-con {
  margin-left: 25%;
  padding: 16px;
  
}

.w3-container-con {
  padding: 0.01em 16px;
  margin-top: 10px;
  background-color: rgb(92, 149, 235);
  width: 95%;
  height: 600px;
  border-radius: 13px;
  display: flex;
}

.ProfileLeft-con{
  flex:2;
  
}

.Profpic-con{
  margin-top: 30px;
  margin-left: 80px;
  border-radius: 100px;
  height: 200px;
  width: 200px ;
}

.ProfName-con{
  font-size: 24px;
  font-weight: 600;
  margin-left: 90px;
  margin-top: -10px;
  
}

.ProfAddress-con{
  margin-left: 90px;
  font-size: 16px;
  font-weight: 440;
}

.ProfileRight-con{
  flex:2;
}

.profDetailBox-con{
  background-color: #D9D9D9;
  border-radius: 10px;
  height: auto;
  width: 400px;
  margin-top: 30px;
  padding: 15px;
}

.profDetailTopic-con{
  font-size: 18px;
  font-weight: 500;
}

.profDetail-con{
  font-size: 15px;

}


    