/* .main-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
} */

.nav-bar {
    /* background-color: white; */
    height: 150vh;
    width: 35vh;
    /* border-right: 1px solid rgb(219, 219, 219); */
  
    /* margin-left: 30px;
    margin-top: 30px; */
    box-shadow: 5px 5px 8px 5px #e2e2e2;
    /* border-radius: 5px;
    padding: 15px; */
    padding-top: 10px;
  }

  .nav-list {
    list-style: none;
    padding-left: 5px;
    padding-right: 10px;
  }

  .nav-element {
    background-color: #47bfd4;
  
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
    padding: 5px;
    font-size: 20px;
  
    box-shadow: 3px 3px 8px 5px #e9e9e9a1;
  }
  
  .nav-element:hover,
  .active-element {
    /* background-color: #0F52BA; */
    /* background: linear-gradient(to right, #514a9d, #24c6dc); */
    background: linear-gradient(to right, #0E0F35, #6441a5);
    color: white;
  }